language: python
sudo: false
install:
  - pip install -r requirements.txt
  - pip install flake8
scripts:
  - nosetests dnstraceroute.py
  - flake8 *.py util/*.py --count  --show-source --statistics
  - ./dnsping.py -c 1 --flags -H -t AAAA -s 9.9.9.9 ripe.net
  - ./dnstraceroute.py
  - echo 1.1.1.1 > ci-test.txt
  - ./dnseval.py -c 2 --dnssec -H ci-test.txt
matrix:
  fast_finish: true
  include:
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
    - python: "3.8"
    - python: "3.9"
    - python: "pypy3"
